[project]
name = "orchestrator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
  "requests>=2.32.5",
  "websocket-client>=1.7.0"
]
